* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.container {
margin-left: auto;
margin-right: auto;

min-width: 320px;

background-color: violet;
text-align: center;
font-size: 32px;
}

.responsite {
    max-width: 1140px;
    margin-bottom: 40px;
}

.adaptive {
    max-width: 400px;
}

@media screen and(min-width: 600px) {
    .container {
        background-color: yellow;
    }
}